/********************************
//Fabian Gallegos Zapata
//fgallegos_097@hotmail.com
//copyright®FabianGallegosZapata
********************************/

.pricing-plane-area {
    background: #f5f9fc;
}

.single-price-plan {
    background: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 30px 30px 30px 0;
    margin-bottom: 30px;
}

.single-price-plan .package-plan {
    padding: 40px 0;
    border-radius: 30px 30px 0 0;
}

.single-price-plan .package-plan > h5 {
    color: #5d3b77;
    font-size: 18px;
}


.single-price-plan .package-plan .ca-price h4 {
    color: #fb397d;
    font-size: 48px;
    position: relative;
    z-index: 1;
    margin-bottom: 0;
    line-height: 1;
}

.single-price-plan .package-plan .ca-price span {
    font-size: 18px;
    color: #5d3b77;
}

.single-price-plan .plan-button > a {
    background: #5d3b77;
    padding: 10px 0;
    border-bottom-right-radius: 30px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    display: block;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single-price-plan .package-description > p {
    margin-bottom: 0;
    line-height: 1;
    padding: 15px 0;
    border-bottom: 1px solid #f3e27f;
}

.single-price-plan .package-description > p:first-child {
    border-top: 1px solid #f3e27f;
}

.single-price-plan.active .package-plan,
.single-price-plan.active,
.single-price-plan:hover  {
    background-color: #fff;
}

.single-price-plan.active  > h4,
.single-price-plan.active .package-plan .ca-price > span,
.single-price-plan.active .package-plan > h5,
.single-price-plan.active > a {
    color: #5d3b77;
}
.section_padding_100_70 {
    padding-top: 100px;
    padding-bottom: 70px;
}